<html>
{{>head}}
<body>
    <div class="container">
        <div class="row">
            <div>Hi {{userFname}}!!</div>
            <a href="#" onclick="signOut();" id="lnkSignOut">Sign out</a>
            <div class="col-md-12 text-center">
                {{{ body }}}
            </div>
        </div>
    </div>
</body>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            window.location = '/signout';
        });
    }   
    function onLoad() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }
</script>
</html>