<link rel="stylesheet" href="/styles/home.css"></link>
<script src="/app/directives/popup-window/popup-window-directive.js"></script>
<script src="/app/home.js"></script>
<script src="/app/resources/userResource.js"></script>
<div ng-controller="HomeController">
    <ng-include src="'../app/pages/home.html'"></ng-include>
</div>