<div class="login-container">
    <div class="login-area">
        <div class="logo"></div>
        <div class="login-text">
            <span>Sign in to access all announcements in one place</span>
        </div>
        <div id="google-link" class="google-button">
            <span class="icon"></span> <span class="label">Log in with Google</span>
        </div>
    </div>
    <div class="app-install">
        <p>Get the app.</p>
        <br>
        <a href="https://www.apple.com/itunes/">
            <img src="/images/apple-app-store.png">
        </a>
        <a href="https://play.google.com/store/apps">
            <img src="/images/google-play.png">
        </a>
        <a href="https://www.microsoft.com/en-us/store/apps/windows-phone?icid=CNavAppsWindowsPhoneApps">
            <img src="/images/ms-app-store.png">
        </a>
    </div>
</div>
<script>
    $(function(){
        $("#lnkSignOut").hide();
    });
</script>