body{
    background-color: #fafafa;
}
.login-container{
    position: absolute;
    top: 20%;
    left: 60%;
    width:410px;
    margin: 0 0 10px;
}
.login-area{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 10px 0;
}
.logo{
    background-image: url(/images/logo.png);
    width:190px;
    height:60px;
    margin-left: 100px;
}
.login-text{
    margin-left: 50px;
}
.app-install{
    margin-top:10px;
}
.app-install a{
    margin-right: 8px;
}
.app-install img{
    height: 40px;
}
.app-install p{
    margin-left: 180px;
}
.google-button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    width: auto;
    border-radius: 2px;
    border: 1px solid #4285f4;
    box-shadow: 0 2px 2px #c4c9cc;
    white-space: nowrap;
}
.google-button span.icon {
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg) white 12px 50% no-repeat;
    display: inline-block;
    border-radius: 1px;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
.google-button span.label {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
#google-link{
    margin:30px 0 30px 100px;
    cursor: pointer;
}